@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class=" table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
    </table>
</div>